/* Comment form */
div#comments {
}

div#comments h2 {
    font-weight: 300;
    font-weight: unset;
    font-size: 1em;
}

div#comments li {
    margin: 20px 0;
    list-style: none;
}

div#comments li > div {
    position: relative;
    min-height: 60px;
    padding-bottom: 10px;
}

div#comments .children li {
    margin-left: 5%;
    list-style: unset;
}

.comment-author.vcard {
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
}

.comment-meta.commentmetadata {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
}

.comment-body {
    padding: 0 5%;
    display: inline-block;
}

.comment-body p {
    padding: 15px 0;
}

#comments .reply {
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
}

div#respond {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 50px auto;
}

#respond h3#reply-title {
    font-size: 1em;
    font-weight: bold;
}

#respond a#cancel-comment-reply-link {
    position: absolute;
    right: 0;
    font-size: 1.2em;
}

#respond p.comment-form-comment {
    padding: 15px 0 0 0;
}

#respond textarea#comment {
    width: 96%;
    height: 70px;
    padding: 2% 2% 5% 2%;
    font-weight: 300;
    font-size: 1em;
}

#respond p.form-submit {
    font-weight: 300;
    padding: 15px 0 0 0;
    width: 30%;
}

#respond input#submit {
    width: 100%;
    font-weight: bold;
}

#respond p.comment-form-cookies-consent {
    position: absolute;
}

#respond p.comment-form-email,
#respond p.comment-form-author {
    padding: 0 0 15px 0;
    display: inline-block;
}

p.comment-form-author input,
p.comment-form-email input {
    width: 90%;
}
